page-principal {
    #inicio{

    
    background-color: #BDBDBD
    }
    h1{
     font-size: 60px;
     margin-top: 25px;
     height: 60px;
     text-align: center;
    }

    .margin{
        margin-top: 90px;
    }
}

ion-icon{
    font-size: 90px;
    justify-content: space-around;
     width: 77px;
      height: 45px;
      margin-top: 10px;
    text-align: center;
      justify-content: space-around;
      color: #E1F5A9
      
}


