page-principal {
    #inicio{  
    background-image: url(https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
    }
    h1{
     font-size: 100px;
     margin-top: 90px;
     height: 100px;
     text-align: center;
    }
    h2{
     margin-top: 200px;
     height: 100px;
     text-align: center;
    }

    

    div .Iconos{
        text-align: center;
        font-size: 100px;
        margin-top: 60px;
        color: #E1F5A9
    }
    
    
    
    #Botones{
        text-align: center ;
        margin-top: 40px ;
        font-size: 50px
        
    }
    
    #Botones button{
        flex:1;
        font-size: 30px
    }
    
    
    
    
    
}

